#center {
    text-align: center;
    align-items: center;
}
h2 {
    background-color: lightgrey;
    color: black;
}
body {
    background-color: black;
    color: white;
} 
#cliqueaqui {
    color: yellow;
}
p {
    font-family: monospace;
    font-size: 18px;
}
.imagensformat {
    border-radius: 4px;
    padding: 15px 400px;
    background-color:darkslategray;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imagensformatbike {
    border-radius: 100%;
    /* padding: 15px 60px; */
    background-color: burlywood;
/*     margin-left: auto;
    margin-right: auto;
    display: block; */
    
}
.botaolink {
    background-color:white;
    border-radius: 4px;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}